<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Connexion</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <main class="auth-card">
        <h1>Connexion</h1>
        <p>Le template final sera personnalisé ensuite.</p>
        <form th:action="@{/login}" method="post">
            <label for="username">Email</label>
            <input id="username" type="text" name="username" placeholder="admin@nezafi.com" />

            <label for="password">Mot de passe</label>
            <input id="password" type="password" name="password" placeholder="admin123" />

            <button type="submit">Se connecter</button>
        </form>
    </main>
</body>
</html>
